/*React css styles*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;}}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;}

.App-link {
  color: #61dafb;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navbar*/
.navbar-expand {
  padding: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 0.8rem!important;
  padding-right: 0.8rem!important;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,1)!important;
}

.cartNavLink {
  width: 30%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.cartNavLink p{
  margin-bottom: 0px;
  margin-left: 5px;
}